/*------------------------------------HTMLPage----------------------------------*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Montserrat";
}

html {
	scroll-behavior: smooth;
}

div {
	display: block;
}

h1 {
	font-size: 56px;
	font-weight: 900;
	letter-spacing: 2px;
	color: white;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  color: rgb(80, 81, 82);
}

h3 {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2px;
	color: white;
}

p {
	font-size: 18px;
	font-style: normal;
	letter-spacing: 2px;
	text-transform: none;
	color: black;
}

.container{
	box-shadow: 3px 3px 5px 6px #ccc; 
}

/*--------------------------------------NavBar-------------------------------------*/

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	width: 100%;
	color: white;
	position: fixed;
	z-index: 99;
}

.logo img{
  width: 60px;
  height: 60px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 600px;
}

.nav-links li {
  list-style: none;
}

li:hover {
  text-decoration: underline;
}

.nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	color: white;
}

/* Burger */
.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
      display: flex;
      justify-content: space-around;
      width: 60%;
  }
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		right: 0px;
		height: 40vh;
		top: 8vh;
		background-image: url("../img/bg-mobile.png");
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		justify-content: space-around;
	}

	.nav-links li {
		opacity: 0%;
	}

	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

/*------------------------------------SectionOne----------------------------------*/

#Home {
	height: 100vh;
	background-image: url("../img/bg.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
 	align-items: center;
  	padding-bottom: 300px;
}

#Home h3{
  margin-bottom: 25px;
}

#Home span {
	display: flex;
	flex-direction: row;
}

#Home img {
	width: 35px;
	margin: 1rem;
}

#Home img:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: transform 0.25s ease-in;
}

/*-----------------------------------SectionTwo-----------------------------------*/

#About {
	margin: 125px 50px 145px 50px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#About-Content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 30vh;
  width: 80%;
}

#About-Specifics span{
	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
	text-align: center;
	padding: 10px;
}

#About-Desc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
	padding: 10px;
}

#portraitPhoto {
	margin-top: 80px;
	margin-bottom: 45px;
	width: 250px;
	border-radius: 50%;
}

/*-----------------------------------SectionThree---------------------------------*/

#Skills {
	margin: 145px 50px 145px 50px;
	padding-top: 50px;
	padding-bottom: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.skills{
	margin-top: 100px;
	width: 500px;
	height: 350px;
}

#Skills h3{
	font-size: 30px;
	font-weight: 600;
	padding: 20px;
	color: rgb(80, 81, 82);
}

#Skills-Content{
	width: 60%;
}

#Skills-Content span{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#Skills-photo{
	margin-top: 80px;
	width: 50%;
	height: auto;
	border-radius: 12px;
}

.grid-container-3 {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
	align-content: space-evenly;
	height: 80%;
  }

  .grid-container-2 {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	align-content: space-evenly;
	height: 80%;
  }
  
  .grid-item {
	font-size: 30px;
	text-align: center;
	width: 100px;
	height: auto;
  }


/*-----------------------------------SectionFour----------------------------------*/

#Portfolio {
	margin: 145px 50px 145px 50px;
	padding-top: 50px;
	padding-bottom: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*-----------------------------------SectionFive----------------------------------*/

#contact {
	margin: 145px 50px 145px 50px;
	padding-top: 50px;
	padding-bottom: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*-----------------------------------MediaQueries----------------------------------*/

@media only screen and (max-width: 800px) {
  #Home {
    height: 100vh;
    background-image: url("../img/bg-mobile.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1{
    font-size: 38px;
  }

  h2{
	font-size: 36px;
  }

  #About-Contents{
	  flex-direction: column;
  }
}
